################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SpecFlowProject/SpecFlowProject.csproj
/.vs
/WindowsAppQuanLy/bin/Debug/net48
