<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QL_CuaHangPhanMemConnectionString2"
            connectionString="Data Source=android17x.database.windows.net;Initial Catalog=QL_CuaHangPhanMem;Persist Security Info=True;User ID=android17x;Password=Trungthachdau2023;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QL_CuaHangPhanMemConnectionString"
            connectionString="Data Source=android17x.database.windows.net;Initial Catalog=QL_CuaHangPhanMem;Persist Security Info=True;User ID=android17x;Password=Trungthachdau2023;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>